.pro-pic {
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    margin-top: 7vh;
}

.project-img {
    width: 35vh;
}

.skill-logo {
    height: 8vh;
    margin: 1vh;
}

.skills {
    margin-top: 1vh;
}

#github {
    font-size: 5vh;
    margin: 1vh;
}

#linkedin {
    font-size: 5vh;
    margin: 1vh;
}

#jumbotron {
    background-image: url('https://images.unsplash.com/photo-1454165205744-3b78555e5572?ixlib=rb-0.3.5&s=61ead6562974b58aeaf66646026a1f0f&auto=format&fit=crop&w=1050&q=80');
    height: 50vh
}

.about {
    background: #E44424;
    color: white;
    min-height: 50vh;
    padding: 10vh;
    position:relative;
    border: 1px solid;
}

#about {
    display: inline-block;
    border-bottom: 3px solid;
}

.projects {
    background: #E44424;
    color: white;
    min-height: 50vh;
    padding: 2vh;
    position:relative;
    border: 1px solid;
}

.pro-screen {
   margin: 1vh 0;
   width: 100vh
}

#projects {
    display: inline-block;
    border-bottom: 3px solid;
}
.top-bar {
    background: #E44424;
    color: white;
}

a {
    color: white;
}

.side-bar {
    background: #E44424;
    color: white;
    display: inline-block;
    position:relative;
    border: 1px solid;
    margin: auto;
}
#languages {
    margin: 2vh;
}

#frameworks {
    margin: 2vh;
}

.gallery {
    margin: 4vh;
    position:relative;
    border: 1px solid;
}

.footer {
    background: #E44424;
    color: white;
    max-height: 110vh;
    margin-left: 2px;
    position:relative;
    border: 1px solid;
}

.container {
    position: relative;
    width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 75%
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: rgb(5, 5, 160);
  opacity: 0.8;
  color: white;
  padding: 2vh;
}

.current {
    position:relative;
    border: 1px solid;
    background: white;
}

#page {
    z-index: -1;
    position: absolute;
    height: 100%;
}

body{
    margin:0;
    padding:0;
}

.page-content {
    z-index: 0;
}

.dropdown-menu {
    background-color: black;
}