.pro-pic {
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    margin-top: 7vh;
}

.project-img {
    width: 35vh;
}

.carousel-gallery {
    margin-top: 7vh;
}

.skill-logo {
    widows: 10vh;
    height: 10vh;
}

.skills * {
    margin-top: 1vh;
}

#github {
    font-size: 5vh;
    margin: 1vh;
}

#linkedin {
    font-size: 5vh;
    margin: 1vh;
}

#jumbotron {
    background-image: url('https://images.unsplash.com/photo-1454165205744-3b78555e5572?ixlib=rb-0.3.5&s=61ead6562974b58aeaf66646026a1f0f&auto=format&fit=crop&w=1050&q=80');
    height: 50vh
}

.about {
    background: #E44424;
    color: white;
    height: 50vh;
    padding: 10vh;
}

#about {
    display: inline-block;
    border-bottom: 3px solid;
}

.projects {
    background: #67BCDB;
    color: black;
    min-height: 50vh;
    padding: 10vh;
}

.pro-screen {
    overflow: auto;
    margin: 2vh;
    width: 300vh
}

#projects {
    display: inline-block;
    border-bottom: 3px solid;
}

.side-bar {
    background: rgb(107, 107, 245);
    color: white;
}